[submodule "third_party/aws-lambda-cpp"]
	path = third_party/aws-lambda-cpp
	url = https://github.com/awslabs/aws-lambda-cpp.git
	shallow = true
[submodule "third_party/aws-sdk-cpp"]
	path = third_party/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
	shallow = true
[submodule "third_party/boost/assert"]
	path = third_party/boost/assert
	url = https://github.com/boostorg/assert.git
	shallow = true
[submodule "third_party/boost/config"]
	path = third_party/boost/config
	url = https://github.com/boostorg/config.git
	shallow = true
[submodule "third_party/boost/container_hash"]
	path = third_party/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
	shallow = true
[submodule "third_party/boost/core"]
	path = third_party/boost/core
	url = https://github.com/boostorg/core.git
	shallow = true
[submodule "third_party/boost/detail"]
	path = third_party/boost/detail
	url = https://github.com/boostorg/detail.git
	shallow = true
[submodule "third_party/boost/integer"]
	path = third_party/boost/integer
	url = https://github.com/boostorg/integer.git
	shallow = true
[submodule "third_party/boost/static_assert"]
	path = third_party/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
	shallow = true
[submodule "third_party/boost/type_traits"]
	path = third_party/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
	shallow = true
[submodule "third_party/cmake-git-version-tracking"]
	path = third_party/cmake-git-version-tracking
	url = https://github.com/andrew-hardin/cmake-git-version-tracking.git
	shallow = true
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	shallow = true
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
	shallow = true
[submodule "third_party/orc"]
	path = third_party/orc
	url = https://github.com/apache/orc.git
	shallow = true
[submodule "third_party/termcolor"]
	path = third_party/termcolor
	url = https://github.com/ikalnytskyi/termcolor
	shallow = true
[submodule "third_party/tpch-dbgen"]
	path = third_party/tpch-dbgen
	url = https://github.com/hpi-epic/tpch-dbgen.git
	shallow = true
